@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-200 antialiased font-sans;
  }
}

.glass-panel {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
